{% extends "base.html" %}
{% set photo_class = "nophoto" %}
{% block title %}| Costumes{% endblock %}
{% block content %}

{% if current_user.is_authenticated %}
<a href="new">Add costume >></a>
{% endif %}
<div class="costumes">
    {% if current_user.is_authenticated %}
        {% for costume in costumes %}
        {% if costume.cover %}
        {% set img_url = "/static/uploads/"+ costume.id|string +"/photo/thumbnails/"+ costume.cover %}
        {% else %}
        {% set img_url = "/static/blank.png" %}
        {% endif %}
            <div class="cosplay"><a href="{{costume.slug}}"><img src="{{ img_url }}"></a>
            <br>{{ costume_title(costume.name, costume.series, costume.variant) }} </div>
        {% else %}
            No costumes yet!
        {% endfor %}
    {% else %}
    {% for costume in costumes if costume.status != 'draft' %}
        {% if costume.cover %}
        {% set img_url = "/static/uploads/"+ costume.id|string +"/photo/thumbnails/"+ costume.cover %}
        {% else %}
        {% set img_url = "/static/blank.png" %}
        {% endif %}
            <div class="cosplay"><a href="{{costume.slug}}"><img src="{{ img_url }}"></a>
            <br>{{ costume_title(costume.name, costume.series, costume.variant) }} </div>
        {% else %}
        	No costumes yet!
        {% endfor %}
    {% endif %}    
</div>
{% endblock %}
